name : Loan App Ci

on:
    push:
        branches : ['main']

jobs:
    test-build-push:
        runs-on: ubuntu-latest

        steps:

        - name: Checkout Code
          uses: actions/chechkout@v3

        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            "python-version" : "3.11"

        - name: Install Dependencies
          run: |
            pip install -r requirements.txt

        - name: Run Test
          run: |
            pytest

        # Login to Docker
        - name: Docker Hub Login
          uses : docker/login-activate@v3
          with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}

        - name: Build Docker Image
          run: |
            docker built -t ${{secrets.DOCKER_USERNAME}}/loan-backend:latest backend
        
        - name: Push
          run : |
            docker push ${{secrets.DOCKER_USERNAME}}/loan-backend:latest


